/*---------------------------------------INDEX------------------------------------------

*1. -- Root --
*2. -- Reset --
*3. -- Navbar --
*4. -- Hero -- 
*5. -- About-us -- 
*6. -- Our-services --
*7. -- Tipes -- 
*8. -- Contact -- 
*9. -- Static-image -- 
*10. -- Location -- 
*11. -- Footer -- 

*/

/*------------------- *1. -- Root -- -----------------*/

:root {

}

/*------------------- *2. -- Reset -- -----------------*/

*, 
::before, 
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
}

/*------------------- *3. -- Navbar -- -----------------*/



/*------------------- *4. -- Hero -- -----------------*/



/*------------------- *5. -- About-us -- -----------------*/



/*------------------- *6. -- Our-services -- -----------------*/



/*------------------- *7. -- Tipes -- -----------------*/



/*------------------- *8. -- Contact -- -----------------*/



/*------------------- *9. -- Static-image -- -----------------*/



/*------------------- *10. -- Location -- -----------------*/



/*------------------- *11. -- Footer -- -----------------*/