/*---------------------------------------INDEX------------------------------------------

*1. -- Root --
*2. -- Reset --
*3. -- Navbar --
*4. -- Hero -- 
*5. -- About-us -- 
*6. -- Our-services --
*7. -- Tipes -- 
*8. -- Static-image -- 
*9. -- Contact -- 
*10. -- Location -- 
*11. -- Footer -- 

*/

/*------------------- *1. -- Root -- -----------------*/

:root {
    --primary-color: #105e4e;
    --title-color: #edfff0ab;
}

/*------------------- *2. -- Reset -- -----------------*/

*, 
::before, 
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

ul, li {
    list-style: none;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.title {
    font-size: 3rem;
    font-weight: 400;
    color: var(--primary-color);
}

/*------------------- *3. -- Navbar -- -----------------*/

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
}

.abrir-cerrar-menu {
    display: none;
}

.navbar__navigation--options {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.navbar__navigation--options li{
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.navbar__navigation--options a{
    text-decoration: none;
    color: var(--primary-color);
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

@media screen and (max-width: 640px) {
    .abrir-cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: var(--title-color);
        transition: color .2s ease;
        font-size: 1.3rem;
    }

    .abrir-menu:hover {
        color: #fff
    }

    .cerrar-menu {
        color: var(--title-color);
    }

    .cerrar-menu:hover {
        color: #fff
    }

    .navbar__navigation {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: var(--primary-color);
        padding-left: 1rem;
        padding-right: 2rem;
        padding-block: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
        height:fit-content;
        margin-top: 70px;
        z-index: 999;
    }

    .navbar__navigation.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .navbar__navigation--options {
        flex-direction: column;
        align-items: start;
    }

    .navbar__navigation--options li a {
        color: var(--title-color);
        transition: color .2s ease;
        font-size: 1.3rem;
    }

    .navbar__navigation--options li a:hover {
        color: #fff
    }
}

/*------------------- *4. -- Hero -- -----------------*/

.slider {
    width: 100%;
    height: 60vh; /* Altura del carrusel */
    overflow: hidden;
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    background-size: cover;
    background-position: center;
}

.slide.active {
    opacity: 1;
}

.hero__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #ffffff9a;
    color: var(--title-color);
    width: 100%;
    padding: 1rem;
}

.hero__content h1 {
    font-size: 1.8rem;
    padding-bottom: .5rem;
    color: var(--primary-color);
    font-weight: 400;
}

.hero__content p {
    font-size: 1rem;
    padding-bottom: .5rem;
    color: var(--primary-color);
}

@media screen and (min-width:576px) {
    .hero__content h1 {
        font-size: 3rem;
        font-weight: 400;
        color: var(--primary-color);
    }

    .hero__content p {
        font-size: 1.5rem;
        font-weight: 400;
        color: var(--primary-color);
    }
}

/*------------------- *5. -- About-us -- -----------------*/

.about-us__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem 1rem;
}

.about-us__content--text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

.about-us__content--text1 {
    font-size: 1.2rem;
    font-weight: 400;
}

.about-us__content--text3 {
    font-weight: 600;
}

.about-us__content img {
    width: 100%;
    max-width: 400px;
}

@media screen and (min-width:992px) {
    .about-us__content {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
    }

    .about-us__content--text {
        width: 500px;
    }

    .about-us__content img {
        max-width: 500px;
        max-height: 620px;
        object-fit: cover;
    }
}

/*------------------- *6. -- Our-services -- -----------------*/

.our-services {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

.our-services h3 {
    text-align: center;
}

.our-services__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 2rem;
}

.our-services__content--card {
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    background-color: var(--primary-color);
}

.our-services__content--card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.our-services__content--card p {
    line-height: 1.5rem;
    color: #EDFFF0;
    padding: 1rem;
}

@media screen and (min-width:576px) {
    .our-services__content--card {
        width: 340px;
    }
}

/*------------------- *7. -- Tipes -- -----------------*/

.tipes {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

.tipes h3 {
    text-align: center;
}

.tipes__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 2rem;
}

.tipes__content--card {
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    gap: 1.5rem;
    background-color: #edfff07e;
}

.tipes__content--card img {
    width: 280px;
    height: 180px;
}

.tipes__content--card h4 {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 400;
}

.tipes__content--card p {
    line-height: 1.5rem;
}

@media screen and (min-width:992px) {
    .tipes__content--card {
        width: 310px;
    }
}


/*------------------- *8. -- Static-image -- -----------------*/

.image-section {
    padding: calc(5rem + 40px) 0 5rem 0;
    position: relative;
    opacity: .5;
    box-sizing: border-box;
}

.image-medium{
    min-height: 50vh;
}

.img-with-pattern {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: brightness(0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.background-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    overflow: hidden;
}

/*------------------- *9. -- Contact -- -----------------*/

.contact {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.contact__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.contact__social h4 {
    font-size: 2rem;
    padding-block: .5rem;
    text-align: center;
}

.social-contact a{
    display: flex;
    flex-direction: row;
    text-align: start;
    gap: .5rem;
    text-decoration: none;
    color: #283629;
    min-width: 185px;
}

.contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.contact__form h4 {
    font-size: 2rem;
    padding-block: .5rem;
    text-align: center;
}

.contact__form--content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

label {
    font-size: .8rem;
    font-weight: 700;
    color: #283629;
}

input, textarea {
    padding: 10px 10px;
    border-radius: 10px;
    outline: none;
    background-color: #EDFFF0;
    border: 2px solid #F0FAF1;
    max-width: 280px;
    min-width: 280px;
}

.contact__form--button {
    font-size: .8rem;
    font-weight: 700;
    color: #283629;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
}

.contact__form--button:hover {
    background-color: #F0FAF1;
    transition: all 300ms;
}

@media screen and (min-width:576px) {
    input, textarea {
        min-width: 400px;
    }
}

@media screen and (min-width:992px) {
    .contact {
        display: flex;
        flex-direction: row;
    }

    input, textarea {
        min-width: 600px;
    }
}

@media screen and (min-width:1200px) {

    input, textarea {
        min-width: 800px;
    }
}
/*------------------- *10. -- Location -- -----------------*/

.location iframe{
    width: 100%;
    height: 50vh;
    padding-top: 2rem;
}

/*------------------- *11. -- Footer -- -----------------*/

.footer {
    background-color: var(--primary-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer__navigation{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-logo {
    height: 160px;
    width: 100%;
    mask-image: url("../assets/img/bubble.svg");
    mask-repeat: no-repeat;
    mask-size: 10rem;
    background-color: #fff;
    width: 10rem;
    display: grid;
    place-self: center;
}

.bg-logo img {
    width: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.footer__navigation--social {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: .5rem;
}

.footer__navigation--social .social-contact p, .footer__navigation--social .social-contact i{
    color: var(--title-color);
}

@media screen and (min-width:576px) {
    .footer__navigation{
        flex-direction: row;
        gap: 1rem;
        justify-content: space-around;
    }
}